#foot{height:543px;background-color: #ddcfd5;margin: 0 auto;}
.txt{width: 543px;height: 200px;font-family: 微软雅黑;font-size: 17px;text-align: center;margin: 0 auto;line-height: 30px;}
.txt p{color: #13776e;padding-top: 47px;}
.messb{height:300px;margin: 0 auto; }